.container_dessin
{
    background-color: rgb(225, 217, 217);
    min-width:800px;
    height:100%;
    /* margin:auto; */
    padding : 50px;
}

#nav
{
    width:500px;
    height:20px;
    margin-bottom:-15px;
}

#nav span
{
    width:100px;
    text-align: center;
    display:inline-block;
    border-top:1px solid black;
    border-right:1px solid black;
    box-sizing:border-box;
}

#nav span:first-child
{
    border-left:1px solid black;
}

#drawing
{
    border: 1px solid black;
    min-width:500px;
    width:100%;
    height:440px;
}

#myObject 
{
    background-color: rgb(225, 217, 217);
    box-sizing: border-box;
    border-top: 1px solid black;
    min-width:800px;
}

#disclaimer
{
    width:500px;
}

#recap
{
    width:200px;
    height:260px;
    overflow: auto;
}

#myObject div
{
    display: inline-block;
    padding:0;
    width:100px;
    margin-left:50px;
}

#detail
{
    font-size:10px;
}

.jauge
{
    min-width:200px;
    margin-top:0;
    display: inline-block;
    background-color: white;
}

#jauge_poids
{
    float:left;
    margin-left:10px;
    width:90px;
}

#jauge_volume
{
    float:left;
    margin-left:10px;
    width:90px;
}

#myObject div:last-child
{
    color:red;
    width:100%;
}

button
{
    margin-top:16px;
    margin-bottom:100px
}


.collection-item:hover
{
    background-color: #cdcdcd;
}

.no-space
{
    padding:0;
}