.container
{
    background-color: rgb(225, 217, 217);
    width:600px;
    height:450;
    margin:auto;
    padding : 50px;
}
#nav
{
    width:500px;
    height:20px;
    margin-bottom:3px;
}

#nav span
{
    width:100px;
    text-align: center;
    display:inline-block;
    border-top:1px solid black;
    border-right:1px solid black;
    box-sizing:border-box;
}

#nav span:first-child
{
    border-left:1px solid black;
}

#drawing
{
    border: 1px solid black;
}

#myObject 
{
    padding:20px;
    width:600px;
    background-color: rgb(225, 217, 217);
    box-sizing: border-box;
    border-top: 1px solid black;
    margin:auto;

}

#myObject div
{
    display: inline-block;
    width:100px;
    margin-left:50px;
}

button
{
    margin-top:16px;
    margin-bottom:100px
}
