.container
{
    background-color: rgb(225, 217, 217);
    width:800px;
    height:550px;
    margin:auto;
    padding : 50px;
}
#nav
{
    width:500px;
    height:20px;
    margin-bottom:3px;
}

#nav span
{
    width:100px;
    text-align: center;
    display:inline-block;
    border-top:1px solid black;
    border-right:1px solid black;
    box-sizing:border-box;
}

#nav span:first-child
{
    border-left:1px solid black;
}

#drawing
{
    border: 1px solid black;
    width:500px;
    height:400px;
}

#myObject 
{
    padding:20px;
    width:800px;
    background-color: rgb(225, 217, 217);
    box-sizing: border-box;
    border-top: 1px solid black;
    margin:auto;

}

#disclaimer
{
    width:500px;
}

#recap
{
    width:200px;
    height:408px;
    position:relative;
    left:530px;
    top:-450px;
    overflow: auto;
}

#myObject div
{
    display: inline-block;
    width:100px;
    margin-left:50px;
}

#detail
{
    font-size:10px;
}

button
{
    margin-top:16px;
    margin-bottom:100px
}


.collection-item:hover
{
    background-color: #cdcdcd;
}